* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: azure;
    height: 100vh;
}

header {
    width: 85%;
    border-bottom: 2px solid rgba(128, 128, 128, 0.63);
    margin: auto;
    padding: 18px 0;
}
nav, ul, .profile-cart, #logo-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-cart {
    gap: 2rem;
    justify-content: flex-start;
}

#logo-nav {
    gap: 3rem;
}

ul {
    list-style: none;
    gap: 2rem;
    color: gray;
}

#profile > img {
    width: 30px;
}

main {
    display: flex;
    width: 85%;
    margin: 4rem auto;
}

.hero-container {
    width: 50%;
}

.product-container {
    width: 100%;
    /* border: 2px solid blue; */
} 

.product-container > img {
    width: 400px;
    height: 400px;
}

.thumbnail {
    display: flex;
}

.thumbnail-container > img {
    width: 80px;
}

#text {
    margin: 2rem 0;
}