* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: azure;
    height: 100vh; 
    font-size: 16px;
}

header {
    width: 85%;
    border-bottom: 2px solid rgba(128, 128, 128, 0.63);
    margin: auto;
    padding: 18px 4rem 18px 0;
}
nav, ul, .profile-cart, #logo-nav, .price-cart {
    display: flex;
    align-items: center;
}

nav, ul, #logo-nav {
    justify-content: space-between;
}

.profile-cart {
    gap: 2rem;
}

#logo-nav {
    gap: 3rem;
}

ul {
    list-style: none;
    gap: 2rem;
    color: gray;
}

#profile > img {
    width: 40px;
}

#profile {
    position: relative;
}

main {
    display: flex;
    justify-content: center;
    width: 85%;
    margin: 4rem auto;
}

.hero-container {
    width: 40%;
    padding: 0 1rem;
}

.product-container {
    width: 100%;
} 

.product-container > img {
    width: 350px;
    height: 350px;
}

.thumbnail {
    display: flex;
    margin-top: 9px;
    gap: 9px;
}

.thumbnail-container  {
    width: 80px;
    height: 80px;
}

#text {
    margin: 1rem 0;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.555);
}

.cart-button {
    display: flex;
    background-color: orangered;
    justify-content: center;
    align-items: center;
    gap: 9px;
    width: fit-content;
    border: none;
    padding: 0.5rem 3rem;
    border-radius: 5px;
}

.price-container {
    display: flex;
    margin: 2rem 0;
    gap: 9px;
}

.price-cart {
    width: 130px;
    justify-content: space-around;
    background-color: rgb(239, 236, 241);
    border-radius: 5px;
}

.product-image {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

#text-div {
    padding-top: 3rem;
}

#price-div {
    display: flex;
    align-items: center;
    margin-bottom: 7px;
    gap: 1rem;
}

#discount-price {
    font-size: 24px;
    font-weight: bold;
}

#percent {
    background-color: black;
    color: white;
    font-size: 14px;
    font-weight: bold;
    padding: 2px 5px;
    border-radius: 5px;
}

aside {
    width: 290px;
    height: 200px;
    border-radius: 4px;
    background-color: rgb(243, 243, 243);
    display: none;
    right: 100px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.308);
}

aside > h3 {
    border-bottom: 2px solid gray;
    padding: 1rem ;
    height: 30%;
}

#product-item-container {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70%;
}

#checkout-image {
    width: 40px;
    height: 40px;
}

#button-checkout {
    background-color: orangered;
    width: 90%;
    height: 40px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}

.cart-block {
    display: flex;
    align-items: center;
    font-size: 14px;
    width: 90%;
    gap: 1rem;
    margin-bottom: 0.5rem;
}

#total {
    font-weight: bold;
}

.number-block {
    position: absolute;
    /* background-color: blue; */
    border: 2px solid black;
    bottom: 20px;
    left: 15px;
    width: 20px;
    height: 20px;
    font-size: 12px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
}

#cart {
    position: relative;
}