* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;// css reset 
}

body {
    background-color: azure;
    height: 100vh; // body heights 
}

header {
    width: 85%;
    border-bottom: 2px solid rgba(128, 128, 128, 0.63);
    margin: auto;
    padding: 18px 0;
}
nav, ul, .profile-cart, #logo-nav, .price-cart {
    display: flex;
    align-items: center;
}

nav, ul, .profile-cart, #logo-nav {
    justify-content: space-between;
}

.profile-cart {
    gap: 2rem;
    justify-content: flex-start;
}

#logo-nav {
    gap: 3rem;
}

ul {
    list-style: none;
    gap: 2rem;
    color: gray;
}

#profile > img {
    width: 30px;
}

main {
    display: flex;
    justify-content: center;
    width: 85%;
    margin: 4rem auto;
}

.hero-container {
    width: 40%;
    border: 2px solid blue;
    
}

.product-container {
    width: 100%;
    /* border: 2px solid blue; */
} 

.product-container > img {
    width: 400px;
    height: 400px;
}

.thumbnail {
    display: flex;
}

.thumbnail-container > img {
    width: 80px;
}

#text {
    margin: 2rem 0;
    line-height: 20px;
}

.cart-button {
    display: flex;
    background-color: orangered;
    justify-content: center;
    align-items: center;
    gap: 9px;
    width: fit-content;
    padding: 0.5rem 3rem;
    border-radius: 5px;
}

.price-container {
    display: flex;
    gap: 9px;
}

.price-cart {
    width: 130px;
    justify-content: space-around;
    background-color: rgb(239, 236, 241);
    border-radius: 5px;
}